<!DOCTYPE html>
<html>
<head>
  <title>Pgapi</title>
  <%= stylesheet_link_tag    "pgapi/application", media: "all" %>
  <%= javascript_include_tag "pgapi/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
